.funding {
  display: grid;
  padding-top: 2rem;
  gap: 1.5rem;
  grid-auto-columns: 1fr;
  grid-template-areas:
   "hero"
   "currrent"
   "history";
  width: min(95%, 70rem);
  margin-inline: auto;

  &__hero {
  }

  &__history {

  }

  &__current {

  }

  &:nth-child(1) {
    grid-area: hero;
  }

  &:nth-child(2) {
    grid-area: current;
  }

  &:nth-child(3) {
    grid-area: history;
  }
}
