.topbar {
  position: fixed;
  height: 7rem;
  padding: 1.6rem;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  z-index: 25;
  box-shadow: var(--shadow-light);
  width: 100%;

  &__nav {
    display: flex;
    align-items: center;
    position: relative;

    .toggle {
      width: 4rem;
      height: 4rem;
      object-fit: contain;
      background-color: var(--color-primary);
      fill: white;
      border-radius: 50%;
      padding: 8px;
      cursor: pointer;
    }

    @media screen and (min-width: 700px) {
      .toggle {
        display: none;
      }

      .funding_header {
        margin-left: 20rem !important;

      }

    }

    .funding_header {
      font-weight: 500;
      font-size: 1.9rem;
      margin-left: 0.8rem;

    }
  }

  &__search {
    background-color: var(--color-grey-light-3);
    border: 1px solid var(--color-grey-dark-3);
    display: flex;
    align-items: center;
    width: 15rem;

    input {
      outline: none;
      border: none;
      width: 70%;

      &::-webkit-input-placeholder {
        font-size: 1.4rem;
      }

    }

    svg {
      width: 3rem;
      height: 3rem;
    }
  }

  &__user {
    display: flex;
    align-items: center;
    column-gap: 1.2rem;

    &__photo {
      height: 4rem;
      border-radius: 50%;
      margin-left: 1rem;
    }

    .notification {
      position: relative;

      svg {
        height: 2.25rem;
        width: 2.25rem;
      }

      span {
        font-size: .8rem;
        height: 1.75rem;
        width: 1.75rem;
        border-radius: 50%;
        background-color: var(--color-primary);
        color: #ffffff;
        position: absolute;
        bottom: 1.5rem;
        left: 1.1rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &__profile {
      position: relative;
      top: 0.5rem;

      p {
        font-size: 1.6rem;
        margin: 0;

        &:last-child {
          color: var(--color-grey-dark-2);
          font-size: 1.4rem;
          position: relative;
          bottom: 0.3rem;
        }

        span {
          position: relative;
          top: 0.5rem;
        }
      }
    }
  }
}

.nav_menu {
  position: fixed !important;
  top: 0;
  left: -100%;
  width: 20rem;
  height: 100vh;
  z-index: 100;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
  display: flex;
  flex-direction: column;

  &_active {
    left: 0;
  }

  @media screen and (min-width: 700px) {
    position: relative !important;
    left: 0;
    height: 100vh;
    width: 20rem !important;

    div {
      position: sticky !important;
      overflow-y: auto;
      align-self: flex-start;
      top: 0;
    }
  }

  img {
    width: 100%;
    margin-bottom: 3rem;
    padding: 1.2rem;
    position: relative;
    top: 1rem;
  }

  ul {
    list-style: none;
    margin: 0 !important;
  }

}

.nav_item {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  margin-bottom: 2rem;
  cursor: pointer;
  padding: 1.2rem;

  p {
    font-size: 1.7rem;
    font-weight: 500;
  }

  svg {
    width: 2rem;
    height: 2rem;
  }

  &:hover {
    background-color: var(--color-grey-light-4);
    border-bottom-right-radius: 3rem;
    border-top-right-radius: 3rem;
  }

  &__active {
    background-color: var(--color-primary);
    border-bottom-right-radius: 3rem;
    border-top-right-radius: 3rem;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 3px;
      height: 80%;
      margin: 3px 0;
      background-color: var(--color-grey-dark-3);
    }

    &:hover {
      background-color: var(--color-primary);
    }
  }

}
