.container {
  background-color: #fff;
  border-radius: 0.8rem;
  box-shadow: var(--shadow-light);
  padding: 1.2rem;

  p {
    font-size: 1.9rem;
    font-weight: 500;
    position: relative;

    span {
      position: relative;
      top: 0.5rem;
    }
  }
}
